<!DOCTYPE html>
<html ng-app="nodeTodo">
<head>
    <title>Todo App - with Node + Express + Angular + PostgreSQL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/style.css" rel="stylesheet" media="screen">
</head>
<body ng-controller="mainController">

<div class="container">

    <div class="header">
        <h1>Todo App</h1>
        <hr>
        <h1 class="lead">Node + Express + Angular + PostgreSQL</h1>
    </div>

    <div class="todo-form">
        <form>
            <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="Enter text..." ng-model="formData.text">
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createTodo()">Add Todo</button>
        </form>
    </div>

    <br>

    <div class="todo-list">
        <ul ng-repeat="todo in todoData">
            <li><h3><input class="lead" type="checkbox" ng-click="deleteTodo(todo.id)">&nbsp;{{ todo.text }}</li>
            </h3>
            <hr>
        </ul>
    </div>

</div>

<!-- scripts -->
<script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.min.js"></script>
<script src="javascripts/app.js"></script>
</body>
</html>
